.comments {
    padding: 0 1rem 110px;
    text-align: center;
    margin: 0 auto;
}

.comments__first_title {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #330cf4;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comments__first_title:before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: #babdc1;
    display: inline-block;
    margin-right: 21px;
}

.comments__first_title:after {
    content: "";
    width: 60px;
    height: 1px;
    background-color: #babdc1;
    display: inline-block;
    margin-left: 21px;
}

.comments__second_title {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #330cf4;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 52px;
}

.comments__user_card_wrapper {
    overflow: hidden;
    height: 405px;
    margin-bottom: 20px;
}

.comments__user_card {
    min-height: 405px;
    height: 405px;
    margin-bottom: 23px;
}

.comments__user_card--img_box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #c4c7c7;
    width: 103px;
    height: 103px; 
    overflow: hidden;
    margin: 0 auto 30px; 
}

.comments__user_card--img {
    width: 90px;
    height: 90px;
}

.comments__user_card--username {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #062033;
}

.comments__user_card--activity {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #646464;
    margin-bottom: 30px;
}

.comments__user_card--text_wrapper {
    margin-bottom: 24px;
    position: relative;
}

.comments__user_card--quotes {
    width: 50px;
    height: 40px;
    position: absolute;
    top: -20px;
    left: 0;
    z-index: 1;
}

.comments__user_card--text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(40, 37, 40);
    width: 220px;
    margin: 0 auto;
    z-index: 4;
}

.comments__btn_wrapper {
    margin: 0 auto ;
    width: 64px;
    display: flex;
    justify-content: space-between;
}

.comments__btn {
    display: inline-block;
    min-width: 10px;
    min-height: 10px;
    background-color: #d4d3d4;
    border-radius: 50%;
}

.comments__btn:hover {
    background-color: #330cf4;
}

.comments__btn:active {
    background-color: #330cf4;
}

@media screen and (min-width: 768px) {
    .comments {
        padding: 0 2rem 110px;
    }

    .comments__title_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 65px;
    }
    
    .comments__first_title {
        font-size: 28px;
        margin: 0 9px 0 0;
    }

    .comments__first_title:after {
        display: none;
    }

    .comments__second_title {
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .comments__second_title:after {
        content: "";
        width: 60px;
        height: 1px;
        background-color: #babdc1;
        display: inline-block;
        margin-left: 21px;
    }

    .comments__user_card_wrapper {
        height: 336px;
        margin-bottom: 0;
    }

    .comments__user_card--quotes {
        top: -20px;
        left: 0;
    }

    .comments__user_card--text {
        width: 590px;
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .comments__user_card--activity {
        margin-bottom: 120px;
    }

    .comments__user_card_wrapper {
        height: 415px;
    }

    .comments__user_card--text {
        width: 954px;
    }
}